<h1><%= @user.username %></h1>

Subs:
<ul>
  <% @user.subs.each do |sub| %>
    <li><%= link_to sub.name, sub_url(sub) %></li>
  <% end %>
</ul>

Submitted links:
<ul>
  <% @user.links.each do |link| %>
    <li>
      <%= link_to link.title, link.url %>
      <% if @current_user == link.user %>
        <%=", "%>
        <%=link_to "Edit link", edit_link_url(link)%>
      <% end %>
    </li>
  <% end %>
</ul>

<br>
<%= link_to "New Sub", new_sub_url %>