<h1><%= @user.username %></h1>

Moderated subs:
<ul>
  <% @user.subs.each do |sub| %>
    <li><%= link_to sub.name, sub_url(sub) %></li>
  <% end %>
</ul>

Submitted links:
<ul>
  <% @user.links.each do |link| %>
    <li>
      <%= link_to link.title, link.url %>, <%= link_to "Comments", link_url(link)%>

      <% if what_is_users_vote?(link).nil? %>
        <%= button_to "Upvote", upvote_link_url(link), method: :get %>
        <%= button_to "Downvote", downvote_link_url(link), method: :get %>
      <% elsif what_is_users_vote?(link) %>
        <%= button_to "Downvote", downvote_link_url(link), method: :get %>
      <% else %>
        <%= button_to "Upvote", upvote_link_url(link), method: :get %>
      <% end %>

      <% if @current_user == link.user %>
        <%= button_to "Edit", edit_link_url(link), method: :get %>
        <%= button_to "Delete", link_url(link), method: :delete %>
      <% end %>
    </li>
  <% end %>
</ul>