<h1><%= @user.username %></h1>

<%= button_to "Delete account", user_url(@user), method: :delete, confirm: "Are you sure?" %>
<br>
Moderated subs:
<ul>
  <% @user.subs.each do |sub| %>
    <li><%= link_to sub.name, sub_url(sub) %></li>
  <% end %>
</ul>

Submitted links:
<ul>
  <% @user.links.each do |link| %>
    <li>
      <%= link_to link.title, link.url %>, <%= link_to "Comments", link_url(link)%>

      <% if what_is_users_vote?(link).nil? %>
        <%= button_to "Upvote", upvote_link_url(link) %>
        <%= button_to "Downvote", downvote_link_url(link) %>
      <% elsif what_is_users_vote?(link) %>
        <%= button_to "Downvote", downvote_link_url(link) %>
      <% else %>
        <%= button_to "Upvote", upvote_link_url(link) %>
      <% end %>

      <% if @current_user == link.user %>
        <%= button_to "Edit", edit_link_url(link), method: :get %>
        <%= button_to "Delete", link_url(link), method: :delete %>
      <% end %>
    </li>
  <% end %>
</ul>

Posted comments:
<ul>
  <% @user.comments.each do |comment| %>
    <li>
      <%= link_to comment.text, comment_url(comment) %><%= ", #{(link_to 'Parent comment', comment_url(comment.parent_comment))}" if comment.parent_comment_id %>, <%= link_to "Full comments", link_url(comment.link) %>

      <% if @current_user == comment.user %>
        <%= button_to "Edit", edit_comment_url(comment), method: :get %>
        <%= button_to "Delete", comment_url(comment), method: :delete %>
      <% end %>
    </li>
  <% end %>
</ul>