<h1><%= link_to @link.title, @link.url %></h1>

<% if what_is_users_vote?(@link).nil? %>
  <%= button_to "Upvote", upvote_link_url(@link) %>
  <%= button_to "Downvote", downvote_link_url(@link) %>
<% elsif what_is_users_vote?(@link) %>
  <%= button_to "Downvote", downvote_link_url(@link) %>
<% else %>
  <%= button_to "Upvote", upvote_link_url(@link) %>
<% end %>

Text: <%= @link.text %>


<h3>Comments</h3>

<% comments_by_parent = @link.comments_by_parent %>

<% if comments_by_parent[nil] %>
  <% comments_by_parent[nil].each do |comment| %>
    <%= render partial: "shared/comment", locals: {comments_by_parent: comments_by_parent, comment: comment} %>
  <% end %>
<% end %>

<h3>Comment on link:</h3>
<form action="<%= comments_url %>" method="post">
  <label for="comment_text">Text</label>
  <br>
  <textarea name="comment[text]" id="comment_text"></textarea>
  <input type="hidden" name="comment[parent_comment_id]" value="<%= nil %>">
  <input type="hidden" name="comment[user_id]" value="<%= @current_user.id %>">
  <input type="hidden" name="comment[link_id]" value="<%= @link.id %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <br>
  <input type="submit" value="Post comment">
</form>

<% if @current_user == @link.user %>
  <br>
  <br>
  <%= link_to "Edit link", edit_link_url(@link) %>
<% end %>
<br>

<h3>This link is in:</h3>
<ul>
  <% @link.link_subs.each do |ls| %>
    <li><%= link_to ls.sub.name, sub_url(ls.sub) %></li>
  <% end %>
</ul>