<h1><%= @sub.name %></h1>
<h4>Moderator: <%= @sub.user.username %></h4>

<% sorted_links = sort_links(@sub.links) %>

<ul>
  <% sorted_links.each do |link| %>
    <li>
      <%= link_to link.title, link.url %>, <%= link_to "Comments", link_url(link)%>, Posted by: <%= link_to link.user.username, user_url(link.user) %>

      <% if what_is_users_vote?(link).nil? %>
        <%= button_to "Upvote", upvote_link_url(link) %>
        <%= button_to "Downvote", downvote_link_url(link) %>
      <% elsif what_is_users_vote?(link) %>
        <%= button_to "Downvote", downvote_link_url(link) %>
      <% else %>
        <%= button_to "Upvote", upvote_link_url(link) %>
      <% end %>
      
      <% if @current_user == link.user %>
        <%= button_to "Edit", edit_link_url(link), method: :get %>
        <%= button_to "Delete", link_url(link) %>
      <% end %>
    </li>
    <br>
  <% end %>
</ul>

<br>
<% if @sub.user == @current_user %>
  <%= link_to "Edit Sub", edit_sub_url %>
  <%= button_to "Delete Sub", sub_url(@sub), method: :delete %>
<% end %>