<h1><%= @sub.name %></h1>

<ul>
  <% @sub.links.each do |link| %>
    <li>
      <%= link_to link.title, link.url %>, <%= link_to "Comments", link_url(link)%>
      <% if @current_user = link.user %>
        , <%= link_to "Edit", edit_link_url(link) %>
      <% end %>
    </li>
    <br>
  <% end %>
</ul>

<br>
<% if @sub.user == @current_user %>
  <%= link_to "Edit Sub", edit_sub_url %>
<% end %>