<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
<% if @current_user %>
  Logged in as: <%= @current_user.username %>
  <br>
  <%= link_to "Profile", user_url(@current_user) %>
  <br>
<% end %>
<% if flash[:notices] %>
  <%= flash[:notices] %>
  <% flash[:notices] = nil %>
<% end %>

<%= yield %>

<% if @current_user %>
  <br>
  <%= link_to "Post Link", new_link_url %>
  <br>
  <%= link_to "All Links", links_url %>
  <br>
  <%= link_to "Create Sub", new_sub_url %>
  <br>
  <%= link_to "All Subs", subs_url %>
  <br>
  <br>
  <br>
  <%= button_to "Sign Out", sessions_url, method: :delete %>
<% end %>
</body>
</html>
